<html>

<head>
    <meta charset="utf-8" />
    <title>ProjectP</title>
    <style type="text/css">
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    </style>
</head>

<body>
    <img src="http://172.16.88.94:8000/image/1627857508344-black-cat-icon-6.jpg" style="width: 300px; height: 300px; margin-block: 50px;">
    <h2>Your password has been reset to this random password: <input id="password" value="{{ newPassword }}"></h2>
    <button id="copy">Click to copy</button>
    <h2>We recommend you to change your password immediately for safety!</h2>

    <script>
        const password = document.getElementById('password');
        const copy = document.getElementById('copy');

        copy.onclick = () => {
            password.select();
            document.execCommand('copy');
            alert('Copied!');
        };
    </script>
</body>

</html>