<style type="text/css">
#root {
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    border-radius: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
}
a {
    color: white;
    font-size: 20px;
    background-color: red;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    transition: filter 300ms ease;
    box-shadow: 0 0 10px dodgerblue, 0 0 40px dodgerblue, 0 0 80px dodgerblue;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
</style>
<div id="root">
    <h1>Hello {{ username }}</h1>
    <h2>Please click below to reset your password</h2>
    <a href="{{ url }}">Reset</a>

    <h2 style="color: red;">If you didn't request this email, please ignore this and check your recent activities for safety.</h2>
</div>